img {
  width: 200px;
  height: auto;
}

body {
  color: #333;
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
  margin: 50px;
}

a {
  color: #624f82;
  font-weight: bold;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

h2 {
 color: #3F3B6C;
 margin-top: 40px;
}

header h2 {
  color: #333;
}

article {
  background-color: #D3D3D3;
}

.img-container {
  display: flex;
  justify-content: space-between;
}

.project-img {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 5px;
  max-width: 100%;
  height: auto;
  flex: 1;
  margin: 5px;
}

.kittycart {  
  display: flex;
  justify-content: center;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 80px;
  background-color: #a3c7d6;
}

nav .left a {
  color: #333;
  font-size: 22px;
  font-weight: 600;
}

nav .right a {
  color: #333;
  margin: 0 10px;
}

nav a:hover {
  color: #9F73AB;
}

nav .right a span {
  margin-left: 5px;
}

/* SECTION 1: HERO */
a:hover {
  color: #a3c7d6;
}

.headshot img {
  border-radius: 50%;
}

.hero-section {
  display: flex;
  padding: 25px;
  gap: 50px;
  background-color: #E8E8E8;
}

/* LaunchCode Test */
.funParagraph {
  color: green;
}

#mainHeading {
  color: red;
}

/* #3F3B6C dark purple
#624F82 medium purple  
#9F73AB light purple
#A3C7D6  blue*/
